<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e7e5a987-9608-4247-8c93-8a521a6238ed" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e7e5a987-9608-4247-8c93-8a521a6238edfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
